@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Lato;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

html, body, #app {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;

    #sidebar {
        background: #F9FAFC;
        width: 256px;
        padding-left: 32px;

        h1 {
            font-family: Lato;
            font-weight: 700;
            font-size: 12px;
            color: #AFB2B6;
            letter-spacing: 0;
            margin: 32px auto 15px 0;
            display: inline-block;
        }

        span.indent {
            display: inline-block;
            width: 20px;
        }

        .folderBox {

            > .folderBox {
                display: none;
            }

            span.fileBar {
                display: inline-block;
                width: 100%;
                font-family: Lato;
                font-weight: 400;
                font-size: 16px;
                color: #2F363F;
                letter-spacing: 0;
                line-height: 43px;
                margin-left: 0;
                cursor: pointer;
    
                span.arrow {
                    background: url("../img/dropdown.svg");
                    width: 24px;
                    height: 24px;
                    display: inline-block;
                    position: absolute;
                    right: 32px;
                    top: 10px;
                }
            }

            &.active {
                > span.fileBar {
                    > span.arrow {
                        transform: rotateZ(180deg);
                    }
                }

                > .folderBox {
                    display: block;

                    
                }
            }
        }
    }

    #main {
        padding-top: 32px;
        .currentPathHeader {
            vertical-align: middle;
            .goUpFolder {
                width: 29px;
                height: 29px;
                background: url("../img/arrow-green-circle.png");
                display: inline-block;
                background-repeat: no-repeat;
                background-position: bottom center;
                margin-right: 28px;
                cursor: pointer;
            }

            .label {
                color: #81878C;
                // font-family: ProximaNova-Regular;
                font-family: Lato;
                font-size: 24px;
                letter-spacing: 0;
                line-height: 29px;
            }

            .divider {
                color: #81878C !important;
                padding: 0 5px 0;
                display: inline-block;
            }

            .label:last-child {
                color: #001800;
            }

            .search {
                position: absolute;
                right: 48px;
                bottom: 0;
                

                input[type="text"] {
                    font-family: Lato;
                    font-weight: 400;
                    font-size: 14px;
                    color: #353638;
                    letter-spacing: 0;
                    background: #FFFFFF;
                    border: 1px solid #DDE0E4;
                    border-radius: 8px;
                    background: url("../img/search.svg");
                    background-repeat: no-repeat;
                    background-position: 5px 9px;
                    padding: 8px 24px;
                    background-size: 14px;
                    width: 214px;
                    outline: none;

                    &::placeholder {
                        color: #AFB2B6;
                    }
                    
                }

                span.global {
                    position: absolute;
                    right: 10px;
                    top: 9px;
                    font-family: Lato;
                    font-weight: 400;
                    font-size: 14px;
                    color: #AFB2B6;
                    input {
                        margin-left: 3px;
                    }
                }

                span.clearSearch {
                    position: absolute;
                    background: url("../img/close.svg");
                    width: 14px;
                    height: 14px;
                    background-size: 14px;
                    top: 11px;
                    right: -18px;
                    cursor: pointer;
                }

                ul.searchChildren {
                    position: absolute;
                    width: 100%;
                    z-index: 11;
                    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.05);
                    border-radius: 8px;

                    li {
                        list-style-type: none;
                        font-size: 14px;
                        padding: 10px;
                        color: #353638;
                        letter-spacing: 0;
                        background: #FFFFFF;
                        border: 1px solid #DDE0E4;
                        border-radius: 0;
                        cursor: pointer;

                        &:first-child {
                            border-radius: 8px 8px 0 0;
                        }

                        &:last-child {
                            border-radius: 0 0 8px 8px;
                        }
                    }
                }
            }
        }
        .folderContentsDisplay {
            > div {
                display: inline-block;
            }
            .item {
                text-align: center;
                border-radius: 8px;
                padding: 12px 14px;
                cursor: pointer;
                z-index: 10;

                &.contextMenuActive {
                    background: #E6F5FF;
                    border-radius: 8px;
                    z-index: 20;
                }

                > span {
                    font-family: Lato;
                    font-weight: 400;
                    font-size: 16px;
                    color: #535B62;
                    letter-spacing: 0;
                    margin-top: 7px;
                    display: inline-block;
                }

                &.file {
                    

                    .icon {
                        background: url("../img/noun_File_1884427.png");
                        font-family: Lato;
                        font-weight: 700;
                        font-size: 14px;
                        color: #FFFFFF;
                        letter-spacing: 0;
                        width: 51px;
                        height: 72px;

                        span {
                            position: absolute;
                            bottom: 8px;
                            left: 8px;
                        }
                    }
                }

                &.folder {
                    .icon {
                        background: url("../img/Shape.png");
                        letter-spacing: 0;
                        width: 70px;
                        height: 56px;

                        span {
                            position: absolute;
                            bottom: 8px;
                            left: 8px;
                        }
                    }
                }
                margin: 30px;

                .contextMenu {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    transform: translateX(48px) translateY(-10px);
                    width: 160px;
                    background: #FFFFFF;
                    border: 1px solid rgba(221,224,228,0.50);
                    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.05);
                    border-radius: 8px;
                    text-align: left;

                    button {
                        display: block;
                        width: 100%;
                        border: none;
                        outline: none;
                        font-family: Lato;
                        font-size: 16px;
                        color: #535B62;
                        letter-spacing: 0;
                        text-align: left;
                        padding: 12px 0 12px 24px;
                        cursor: pointer;
                        transition-duration: 300ms;

                        &:first-child {
                            border-radius: 8px 8px 0 0;
                        }

                        &:last-child {
                            border-radius: 0 0 8px 8px;
                            color: #FF5942;
                        }

                        &:hover {
                            background: #EEEFF1;
                            // border: 1px solid #EEEFF1;
                        }
                    }
                }
            }
        }

        .addNewBtn {
            width: 101px;
            height: 117px;
            background: url("../img/Group\ 11.png");
            background-repeat: no-repeat;
            cursor: pointer;
            margin: 30px 30px 0;
            vertical-align: top;
        }

        #addNewForm, #infoWindow {
            position: fixed;
            z-index: 100;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;

            .inner {
                position: absolute;
                top: 77px;
                right: 50%;
                transform: translateX(158px);
                width: 316px;
                padding: 25px 0;
                background: #FFFFFF;
                border: 1px solid rgba(221,224,228,0.70);
                box-shadow: 0 16px 64px 0 rgba(0,0,0,0.08);
                border-radius: 8px;

                .toggleBtn {
                    position: absolute;
                    top: 24px;
                    right: 24px;
                    width: 24px;
                    height: 24px;
                    background: url("../img/close.svg");
                    cursor: pointer;
                    z-index: 101;
                }

                h1 {
                    font-family: Lato;
                    font-weight: 400;
                    text-align: center;
                    font-size: 18px;
                    color: #2F363F;
                    letter-spacing: 0;
                }

                .btnGroup {
                    display: block;
                    text-align: center;
                    margin-top: 16px;

                    button {
                        width: 65px;
                        background: #fff;
                        border: 1px solid #DDE0E4;
                        font-size: 14px;
                        height: 32px;
                        cursor: pointer;
                        outline: none !important;
                        color: #535B62;

                        &.active {
                            background: #4AB7FF;
                            color: #fff;
                            cursor: default;
                        }

                        &.fileFormBtn {
                            border-radius: 8px 0 0 8px;
                            border-right-width: 0;
                        }

                        &.folderFormBtn {
                            border-radius: 0 8px 8px 0;
                            border-left-width: 0;
                        }
                    }
                }

                .formInputs {
                    input {
                        display: block;
                        background: #FFFFFF;
                        border: 1px solid #DDE0E4;
                        border-radius: 8px;
                        margin: 0 auto 16px;
                        font-size: 14px;
                        color: #2F363F;
                        width: 220px;
                        padding: 12px 16px;
                        outline: none;

                        &::placeholder {
                            color: #AFB2B6;
                        }

                        &:first-child {
                            margin-top: 16px;
                        }
                    }

                    button.addObject {
                        background: #4AB7FF;
                        border-radius: 8px;
                        font-size: 14px;
                        color: #FFFFFF;
                        letter-spacing: 0;
                        padding: 12px 16px;
                        display: block;
                        margin: 0 auto;
                        width: 254px;
                        cursor: pointer;
                    }
                }
            }

            &.active {
                display: block;
            }
        }

        #infoWindow {
            .icon {
                &.file {
                    background: url("../img/noun_File_1884427.png");
                    font-family: Lato;
                    font-weight: 700;
                    font-size: 14px;
                    color: #FFFFFF;
                    letter-spacing: 0;
                    width: 51px;
                    height: 72px;
                    padding: 0;
                    margin: 44px auto 36px;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                &.folder {
                    background: url("../img/Shape.png");
                    font-family: Lato;
                    font-weight: 700;
                    font-size: 14px;
                    color: #FFFFFF;
                    letter-spacing: 0;
                    width: 70px;
                    height: 56px;
                    padding: 0;
                    margin: 44px auto 36px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                

                span {
                    position: absolute;
                    bottom: 8px;
                    left: 8px;
                }
            }

            .propertiesDisplay {
                .field {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    display: block;
                    margin-bottom: 24px;


                    .label {    
                        color: #2F363F;
                    }
                    .value {
                        color: #81878C;
                        padding-left: 8px;
                    }
                }
            }
        }
    }
}